<ion-header>
  <ion-toolbar class="toolbar" color="none">
    <ion-title>Assign Badges</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div
    *ngIf="isLoading"
    class="absolute inset-0 flex flex-col items-center justify-center"
  >
    <ion-spinner name="lines-sharp"></ion-spinner>
  </div>
  <div *ngIf="!isLoading" class="h-full flex flex-col">
    <div class="flex flex-col flex-1">
      <ion-text color="primary">
        <p class="text-2xl">Badge ({{ badges[0].name }})</p>
        <p class="text-lg">{{ badges[0].description }}</p>
      </ion-text>
      <ion-text color="primary">
        <p class="text-2xl">Receivers</p>
        <div *ngFor="let badge of badges">
          <ion-input
            placeholder="Enter email"
            [(ngModel)]="badge.email"
          ></ion-input>
        </div>
      </ion-text>
    </div>
    <ion-nav-link router-direction="back">
      <ion-button expand="block">Back</ion-button>
    </ion-nav-link>
  </div>
</ion-content>
