<ion-header>
  <ion-toolbar class="toolbar" color="none">
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div
    *ngIf="isLoading"
    class="absolute inset-0 flex flex-col items-center justify-center"
  >
    <ion-spinner name="lines-sharp"></ion-spinner>
  </div>
  <div class="fixed bottom-4 right-4">
    <a [routerLink]="['/main/events/register']" routerLinkActive="true">
      <div
        class="w-12 h-12 flex items-center justify-center bg-yellow-500 rounded-full"
      >
        <ion-icon size="large" name="add"></ion-icon>
      </div>
    </a>
  </div>
  <div
    *ngIf="events?.length === 0"
    class="flex flex-col items-center justify-center gap-4 h-full"
  >
    <ion-text class="text-2xl">Create Events</ion-text>
    <ion-text class="text-lg">Do you want to create an event?</ion-text>
    <a [routerLink]="['/main/events/register']" routerLinkActive="true">
      <ion-button>
        <p style="fill: #7dfacd">Create an Event</p>
      </ion-button>
    </a>
  </div>
  <div *ngIf="(events?.length ?? 0) > 0" class="h-full flex flex-col">
    <div class="flex flex-col flex-1 gap-4">
      <div *ngFor="let event of events">
        <div
          class="flex flex-1 flex-row items-center gap-4"
          (click)="goToEventDetail(event)"
        >
          <img class="w-32 h-24 rounded-lg" [src]="event.url" />
          <div class="flex flex-1 flex-col gap-2">
            <ion-text class="text-base">{{ event.name }}</ion-text>
            <ion-text class="text-sm">{{ event.description }}</ion-text>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
