<ion-header>
  <ion-toolbar>
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="h-full flex flex-col">
    <div class="h-24">
      <p class="text-2xl">Ongoing Events</p>
    </div>
    <div class="flex flex-1">
      <ion-spinner *ngIf="!ongoingEvent" name="lines-sharp"></ion-spinner>
      <p #elseBlock>{{ ongoingEvent?.name }}</p>
    </div>
    <div class="h-24">
      <p class="text-2xl">Future Events</p>
    </div>
    <div class="flex flex-1">
      <ion-spinner *ngIf="!futureEvent" name="lines-sharp"></ion-spinner>
      <p #elseBlock>{{ futureEvent?.name }}</p>
    </div>
    <div class="h-24">
      <p class="text-2xl">Past Events</p>
    </div>
    <div class="flex flex-1">
      <ion-spinner *ngIf="!pastEvent" name="lines-sharp"></ion-spinner>
      <p #elseBlock>{{ pastEvent?.name }}</p>
    </div>
  </div>
</ion-content>
