<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Assign Badges</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div
    *ngIf="isLoading"
    class="absolute inset-0 flex flex-col items-center justify-center"
  >
    <ion-spinner name="lines-sharp"></ion-spinner>
  </div>
  <div *ngIf="!isLoading" class="h-full flex flex-col">
    <div class="flex flex-col flex-1 gap-4">
      <ion-text color="primary">
        <p class="text-2xl">Badges ({{ event.name }})</p>
      </ion-text>
      <div
        class="flex flex-col gap-2"
        *ngFor="let p of event.badges | keyvalue"
      >
        <ion-nav-link
          router-direction="forward"
          [component]="assignBadgeComponent"
          [componentProps]="{ badges: p.value }"
        >
          <div class="flex flex-row gap-4">
            <img class="w-32 h-32 rounded-lg" [src]="p.value[0].tokenURI" />
            <div class="flex flex-col gap-2">
              <div class="flex flex-1 flex-col gap-2">
                <p *ngIf="getAssignedBadgeCount(p.value) === 0" class="text-lg">
                  Unassigned
                </p>
                <div *ngFor="let badge of p.value">
                  <p class="text-lg">{{ badge.email }}</p>
                </div>
              </div>
              <p class="text-lg">
                {{ getAssignedBadgeCount(p.value) }}/{{ p.value.length }}
                Claimed
              </p>
            </div>
          </div>
        </ion-nav-link>
      </div>
    </div>
    <ion-button (click)="saveAssignment()" expand="block"
      >Save Assignment</ion-button
    >
    <div>
      <ion-input placeholder="Badge name" [(ngModel)]="name"></ion-input>
      <ion-input
        placeholder="Badge description"
        [(ngModel)]="description"
      ></ion-input>
      <ion-input placeholder="Badge group" [(ngModel)]="group"></ion-input>
      <ion-input
        placeholder="Badge category"
        [(ngModel)]="category"
      ></ion-input>
      <input type="file" class="file-input" (change)="selectFile($event)" />
      <ion-button (click)="addBadge()" expand="block">Create Badge</ion-button>
    </div>
  </div>
</ion-content>
