<div class="aspect-[9/19] w-fit max-w-full h-full relative">
  <ion-nav>
    <ion-tabs>
      <ion-tab-bar slot="bottom" class="h-24">
        <ion-tab-button tab="display">
          <ion-icon name="easel-outline"></ion-icon>
          Display
        </ion-tab-button>
        <ion-tab-button tab="events">
          <ion-icon name="calendar-outline"></ion-icon>
          Events
        </ion-tab-button>
        <ion-tab-button tab="profile">
          <ion-icon name="person-circle-outline"></ion-icon>
          Profile
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-nav>
</div>
