<div class="py-16 px-4 flex flex-col gap-8">
  <div class="flex flex-col gap-8 items-center">
    <div
      class="bg-yellow-500 rounded-full w-32 h-32 shrink-0 flex items-center justify-center"
    >
      <ion-text
        color="primary"
        class="font-bold text-[72px]"
        >{{ user?.email?.[0] | uppercase }}</ion-text
      >
    </div>
    <div class="w-full text-center">
      <ion-text color="primary">
        <p>{{ user?.email }}</p>
        <p class="whitespace-pre text-ellipsis overflow-hidden">
          {{ user?.publicAddress }}
        </p>
      </ion-text>
    </div>
  </div>
  <ion-button expand="block" (click)="logout()">Logout</ion-button>
</div>
