<ion-header>
  <ion-toolbar>
    <ion-title>Display</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div
    *ngIf="isLoading"
    class="absolute inset-0 flex flex-col items-center justify-center"
  >
    <ion-spinner name="lines-sharp"></ion-spinner>
  </div>
  <div *ngIf="!isLoading" class="py-8 flex flex-col gap-8">
    <div class="flex flex-col gap-8 items-center">
      <div *ngFor="let event of user?.acceptedEvents ?? []">
        <ion-text color="primary">{{ event.name }}</ion-text>
        <div *ngFor="let badge of event.acceptedBadges">
          <div class="flex flex-row gap-4">
            <ion-text color="primary">{{ badge.email }}</ion-text>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
