<ion-header>
  <ion-toolbar class="toolbar" color="none">
    <ion-title>Badge Wall</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (ionScroll)="onScroll($any($event))" [scrollEvents]="true">
  <div
    *ngIf="isLoading"
    class="absolute inset-0 flex flex-col items-center justify-center"
  >
    <ion-spinner name="lines-sharp"></ion-spinner>
  </div>
  <div *ngIf="!isLoading" class="relative" [ngStyle]="{ height: '1200px' }">
    <img class="absolute w-full h-full" src="/assets/background.png" />
    <img
      class="absolute"
      [ngStyle]="getStyleByCategory(1)"
      src="/assets/planet_1.png"
    />
    <img
      class="absolute"
      [ngStyle]="getStyleByCategory(2)"
      src="/assets/planet_2.png"
    />
    <img
      class="absolute"
      [ngStyle]="getStyleByCategory(3)"
      src="/assets/planet_3.png"
    />
    <img
      class="absolute"
      [ngStyle]="getStyleByCategory(4)"
      src="/assets/planet_4.png"
    />

    <div
      class="absolute min-w-max"
      *ngFor="let badge of getBadgesByCategory(1); let i = index"
      [ngStyle]="getStyleByCategory(1, i)"
    >
      <img class="w-24 h-24 rounded-lg min-w-max" [src]="badge.tokenURI" />
    </div>
    <div
      class="absolute min-w-max"
      *ngFor="let badge of getBadgesByCategory(2); let i = index"
      [ngStyle]="getStyleByCategory(2, i)"
    >
      <img class="w-24 h-24 rounded-lg min-w-max" [src]="badge.tokenURI" />
    </div>
  </div>
</ion-content>

<div
  *ngIf="!maxScrolled"
  class="absolute text-white"
  [ngStyle]="{
    bottom: '0px',
    left: '50%',
    transform: 'translate(-50%, -50%) scale(3, 3)'
  }"
>
  <ion-icon name="arrow-down"></ion-icon>
</div>
